body {
    background: skyblue;
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
}

.main-container {
    text-align: center;
    margin-top: 30px;
}

.left-container {
    border: 1px solid darkorange;
    height: 620px;
    width: 300px;
    display: inline-block;
    background-color: peachpuff;
}

.right-container {
    border: 1px solid darkorange;
    height: 620px;
    width: 300px;
    display: inline-block;
    background-color: peachpuff;
}

.grid-square {
    border: 1px solid lime;
    background-color: white;//#3d3644;
    width: 94px;
    height: 94px;
    padding: 0;
    margin: 1px;
    display: inline-block;
}

.part-thumb {
    border: 1px solid black;
    width: 94px;
    height: 94px;
    padding: 0;
    margin: 1px;
    display: inline-block;
    //background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.wheel {
    background-image: url('../img/kirby_wheel.png');
}

.machine-gun {
    background-image: url('../img/machinegun.png');
}

.body1 {
    background-image: url('../img/body1.png');
}

.thruster {
    background-image: url('../img/thruster.png');
}

